import("stats", "utils")
importFrom("cubature","adaptIntegrate")
importFrom("mvtnorm", "rmvnorm")
importFrom("combinat", "fact")
importFrom("multipol","as.multipol")

export(
  "evaluate",
  "callmultmoments",
  "toLatex_noncentral",
  "convert.mpoly",
  "convert.multipol",
  "evaluate_noncentral",
  "evaluate_expected.polynomial",
  "make.all.moments",
  "tounsorted",
  "integrate.polynomial",
  "toMoment",
  "toNewick",
  "toMatching"   
)

S3method("evaluate", "moment")
S3method("print", "moment")
S3method("simulate", "moment")
S3method("toLatex", "moment")
